<div class="col mb-4">
  <div class="card h-100">

    <img [src]="pokemon.sprites.other?.dream_world?.front_default" class="card-img-top" alt="...">

    <div class="card-body">

      <h5 class="card-title"
        appTitleCard
        size="30px"
      >
        {{ pokemon.name }}
      </h5>

      <p class="card-text">

        <span [ngClass]="i | badgeColor" *ngFor="let specie of pokemon.types; let i = index" >
            {{ specie.type.name }}
        </span>

      </p>
    </div>
  </div>
</div>
