<div class="row">
  <div class="col-12">
    <h1 class="text-center mb-3">
      <img src="assets/pokeball.png" class="img-fluid" alt="Some lost pokeball image">
        Angular Poke API
      <img src="assets/pokeball.png" class="img-fluid" alt="Some lost pokeball image">
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <input
        class="form-control"
        type="text"
        placeholder="Introduzca el nombre del pokemon"
        #txtPokemonSearch
        (input)="searching()"
      />
  </div>
</div>

<hr>

<div class="row row-cols-1 row-cols-md-3">
  <div class="" *ngFor="let pokemon of pokemons">
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  </div>
</div>
